# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Build & Distribution artifacts
build/
dist/
*.egg-info/
.eggs/

# Environments
.venv/
env/
venv/
ENV/

# IDE & OS
.idea/
.vscode/
.DS_Store

# Environment variables & secrets
.env
